.navbardiv {
  display: flex;
  padding: 4px;
  width: 100%;
  flex-direction: row;
  align-content: space-around;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 2px black;
}

.navbardiv button {
  font-family: "Press Start 2P";
  padding: 5px;
  color: white;
  font-size: 15px;
  border-radius: 10px;

  background-color: black;
}
a {
  width: 50%;
}
.navbardiv button:hover {
  background-color: black;
  color: rgb(247, 252, 99);
}
